---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/LWX/97,71/forecast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - b9ff2d2
      X-Server-Id:
      - vm-lnx-nids-apiapp9.ncep.noaa.gov
      X-Edge-Request-Id:
      - 1f341fd7
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#"
                }
            ],
            "type": "Feature",
            "geometry": {
                "type": "Polygon",
                "coordinates": [
                    [
                        [
                            -77.005026000000001,
                            38.919806299999998
                        ],
                        [
                            -77.008791299999999,
                            38.897859599999997
                        ],
                        [
                            -76.980591099999998,
                            38.894927499999994
                        ],
                        [
                            -76.976820000000004,
                            38.916873899999992
                        ],
                        [
                            -77.005026000000001,
                            38.919806299999998
                        ]
                    ]
                ]
            },
            "properties": {
                "updated": "2022-10-08T17:29:34+00:00",
                "units": "us",
                "forecastGenerator": "BaselineForecastGenerator",
                "generatedAt": "2022-10-08T18:11:13+00:00",
                "updateTime": "2022-10-08T17:29:34+00:00",
                "validTimes": "2022-10-08T11:00:00+00:00/P7DT14H",
                "elevation": {
                    "unitCode": "wmoUnit:m",
                    "value": 17.9832
                },
                "periods": [
                    {
                        "number": 1,
                        "name": "This Afternoon",
                        "startTime": "2022-10-08T14:00:00-04:00",
                        "endTime": "2022-10-08T18:00:00-04:00",
                        "isDaytime": true,
                        "temperature": 61,
                        "temperatureUnit": "F",
                        "temperatureTrend": null,
                        "windSpeed": "10 mph",
                        "windDirection": "NW",
                        "icon": "https://api.weather.gov/icons/land/day/sct?size=medium",
                        "shortForecast": "Mostly Sunny",
                        "detailedForecast": "Mostly sunny, with a high near 61. Northwest wind around 10 mph, with gusts as high as 20 mph."
                    },
                    {
                        "number": 2,
                        "name": "Tonight",
                        "startTime": "2022-10-08T18:00:00-04:00",
                        "endTime": "2022-10-09T06:00:00-04:00",
                        "isDaytime": false,
                        "temperature": 40,
                        "temperatureUnit": "F",
            [...]
