---
http_interactions:
- request:
    method: get
    uri: https://geocoding.geo.census.gov/geocoder/locations/onelineaddress?address=1600%20Pennsylvania%20Ave%20NW,%20Washington%20DC&benchmark=2020&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":{"input":{"address":{"address":"1600 Pennsylvania Ave NW,
        Washington DC"},"benchmark":{"isDefault":false,"benchmarkDescription":"Public
        Address Ranges - Census 2020 Benchmark","id":"2020","benchmarkName":"Public_AR_Census2020"}},"addressMatches":[{"tigerLine":{"side":"L","tigerLineId":"76225813"},"coordinates":{"x":-77.03534431753657,"y":38.898752686023606},"addressComponents":{"zip":"20500","streetName":"PENNSYLVANIA","preType":"","city":"WASHINGTON","preDirection":"","suffixDirection":"NW","fromAddress":"1600","state":"DC","suffixType":"AVE","toAddress":"1698","suffixQualifier":"","preQualifier":""},"matchedAddress":"1600
        PENNSYLVANIA AVE NW, WASHINGTON, DC, 20500"}]}}'
  recorded_at: Thu, 06 Oct 2022 23:54:32 GMT
recorded_with: VCR 6.1.0
