---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/MTR/85,106/stations
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 6d962bc
      X-Server-Id:
      - vm-lnx-nids-apiapp5.ncep.noaa.gov
      X-Edge-Request-Id:
      - 1f283be4
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schema.org/",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#",
                    "geometry": {
                        "@id": "s:GeoCoordinates",
                        "@type": "geo:wktLiteral"
                    },
                    "city": "s:addressLocality",
                    "state": "s:addressRegion",
                    "distance": {
                        "@id": "s:Distance",
                        "@type": "s:QuantitativeValue"
                    },
                    "bearing": {
                        "@type": "s:QuantitativeValue"
                    },
                    "value": {
                        "@id": "s:value"
                    },
                    "unitCode": {
                        "@id": "s:unitCode",
                        "@type": "@id"
                    },
                    "forecastOffice": {
                        "@type": "@id"
                    },
                    "forecastGridData": {
                        "@type": "@id"
                    },
                    "publicZone": {
                        "@type": "@id"
                    },
                    "county": {
                        "@type": "@id"
                    },
                    "observationStations": {
                        "@container": "@list",
                        "@type": "@id"
                    }
                }
            ],
            "type": "FeatureCollection",
            "features": [
                {
                    "id": "https://api.weather.gov/stations/SFOC1",
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -122.42694,
                            37.770560000000003
                        ]
                    },
                    "properties": {
                        "@id": "https://api.weather.gov/stations/SFOC1",
                        "@type": "wx:ObservationStation",
                        "elevation": {
                            "unitCode": "wmoUnit:m",
                            "value": 45.719999999999999
                        },
                        "stationIdentifier": "SFOC1",
                        "name": "SAN FRANCISCO DOWNTOWN",
                        "timeZone": "America/Los_Angeles",
                        "forecast": "https://api.weather.gov/zones/forecast/CAZ006",
                        "county": "https://api.weather.gov/zones/county/CAC075",
                        "fireWeatherZone": "https://api.weather.gov/zones/fire/CAZ006"
                    }
                },
                {
                    "id": "https://api.weather.gov/stations/D7094",
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -122.54833000000001,
                            37.913330000000002
                        ]
                    },
                    "propert[...]
- request:
    method: get
    uri: https://api.weather.gov/stations/SFOC1/observations/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      Last-Modified:
      - Sat, 08 Oct 2022 07:00:00 GMT
      X-Correlation-Id:
      - ae6817f
      X-Server-Id:
      - vm-lnx-nids-apiapp8.ncep.noaa.gov
      X-Edge-Request-Id:
      - 1f283cc5
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schema[...]
