---
http_interactions:
- request:
    method: get
    uri: https://geocoding.geo.census.gov/geocoder/locations/onelineaddress?address=1600%20Pennsylvania%20Ave%20NW,%20Washington%20DC&benchmark=2020&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":{"input":{"address":{"address":"1600 Pennsylvania Ave NW,
        Washington DC"},"benchmark":{"isDefault":false,"benchmarkDescription":"Public
        Address Ranges - Census 2020 Benchmark","id":"2020","benchmarkName":"Public_AR_Census2020"}},"addressMatches":[{"tigerLine":{"side":"L","tigerLineId":"76225813"},"coordinates":{"x":-77.03534431753657,"y":38.898752686023606},"addressComponents":{"zip":"20500","streetName":"PENNSYLVANIA","preType":"","city":"WASHINGTON","preDirection":"","suffixDirection":"NW","fromAddress":"1600","state":"DC","suffixType":"AVE","toAddress":"1698","suffixQualifier":"","preQualifier":""},"matchedAddress":"1600
        PENNSYLVANIA AVE NW, WASHINGTON, DC, 20500"}]}}'
  recorded_at: Sat, 08 Oct 2022 17:25:30 GMT
- request:
    method: get
    uri: https://api.weather.gov/points/38.8987,-77.0353
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 7df59fd
      X-Server-Id:
      - vm-lnx-nids-apiapp2.ncep.noaa.gov
      X-Edge-Request-Id:
      - 1acea668
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schema.org/",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#",
                    "geometry": {
                        "@id": "s:GeoCoordinates",
                        "@type": "geo:wktLiteral"
                    },
                    "city": "s:addressLocality",
                    "state": "s:addressRegion",
                    "distance": {
                        "@id": "s:Distance",
                        "@type": "s:QuantitativeValue"
                    },
                    "bearing": {
                        "@type": "s:QuantitativeValue"
                    },
                    "value": {
                        "@id": "s:value"
                    },
                    "unitCode": {
                        "@id": "s:unitCode",
                        "@type": "@id"
                    },
                    "forecastOffice": {
                        "@type": "@id"
                    },
                    "forecastGridData": {
                        "@type": "@id"
                    },
                    "publicZone": {
                        "@type": "@id"
                    },
                    "county": {
                        "@type": "@id"
                    }
                }
            ],
            "id": "https://api.weather.gov/points/38.8987,-77.0353",
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -77.035300000000007,
                    38.898699999999998
                ]
            },
            "properties": {
                "@id": "https://api.weather.gov/points/38.8987,-77.0353",
                "@type": "wx:Point",
                "cwa": "LWX",
                "forecastOffice": "https://api.weather.gov/offices/LWX",
                "gridId": "LWX",
                "gridX": 97,
                "gridY": 71,
                "forecast": "https://api.weather.gov/gridpoints/LWX/97,71/forecast",
                "forecastHourly": "https://api.weather.gov/gridpoints/LWX/97,71/forecast/hourly",
                "forecastGridData": "https://api.weather.gov/gridpoints/LWX/97,71",
                "observationStations": "https://api.weather.gov/gridpoints/LWX/97,71/stations",
                "relativeLocation": {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -77.017229,
                            38.904102999999999
                        ]
                    },
                    "properties": {
                        "city": "Washington",
                        "state": "DC",
                        "distance": {
                            "unitCode": "wmoUnit:m",
                            "value": 1675.2134211084001
                        },
                        "bearing": {
                            "unitCode": "wmoUnit:degree_(angle)",
                            "value": 248
                        }
                    }
                },
                "forecastZone": "https://api.weather.gov/zones/forecast/DCZ001",
                "county": "https://api.weather.gov/zones/county/DCC001",
                "fireWeatherZone": "https://api.weather.gov/zones/fire/DCZ001",
                "timeZone": "America/New_York",
                "radarStation": "KLWX"
            }
        }
  recorded_at: Sat, 08 Oct 2022 17:25:30 GMT
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/LWX/97,71/stations
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - b9bcacb
      X-Server-Id:
      - vm-lnx-nids-apiapp3.ncep.noaa.gov
      X-Edge-Request-Id:
      - 1acea775
    body:
      encoding: UTF-8
      string: |-
        {
            "@context":[...]
- request:
    method: get
    uri: https://api.weather.gov/stations/KDCA/observations/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      Last-Modified:
      - Sat, 08 Oct 2022 16:52:00 GMT
      X-Correlation-Id:
      - 1537dbfa
      X-Server-Id:
      - vm-lnx-nids-apiapp6.ncep.noaa.gov
      X-Edge-Request-Id:
      - 1acea80b
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schem[...]
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/LWX/97,71/forecast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - b79f684
      X-Server-Id:
      - vm-lnx-nids-apiapp12.ncep.noaa.gov
      X-Edge-Request-Id:
      - 1acea911
    body:
      encoding: UTF-8
      string: |-
        {
            "@context"[...]
