<div class="row gx-5">
  <div class="col">
    <div class="row g-2 p-8 justify-content-center text-center">
      <div class="col-12">
        <div class="warning-message">
          <%= errors %>
        </div>
      </div>
    </div>
  </div>
</div>